{% extends "base.html" %}

{% block conteudo %}
<form method="post">
<table>
    <tr>
        <th>
            <label for="txt_matricula">Matrícula</label>
        </th>
        <td>
            <input type="text" name="txt_matricula" id="txt_matricula" value="{{ aluno[0] }}" readonly>
        </td>
    </tr>
    <tr>
        <th>
            <label for="txt_nome">Nome</label>
        </th>
        <td>
            <input type="text" name="txt_nome" id="txt_nome" value="{{ aluno[1] }}">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Atualizar">
        </td>
    </tr>
</table>
</form>
{% endblock %}
