{% extends "base.html" %}

{% block conteudo %}
<form method="post">
    <div class="mb-3">
        <label for="txt_matricula" class="form-label">Matrícula</label>
        <input type="text" name="txt_matricula" id="txt_matricula" class="form-control" value="{{ aluno[0] }}" readonly>
    </div>

    <div class="mb-3">
        <label for="txt_nome" class="form-label">Nome</label>
        <input type="text" name="txt_nome" id="txt_nome" class="form-control" value="{{ aluno[1] }}">
    </div>

    <input type="submit" class="btn btn-primary" value="Atualizar">

</form>
{% endblock %}
