<!--
    A instrução para definir o HTML que terá a estrura básica de toda
      a página que será desenvolvida dentro da aplicação web
-->
{% extends "base.html" %}

<!--
    O block (bloco) é o comando utilização para que o JINJA consiga
      substituir o conteúdo dentro da página de base.

    No caso específico existe um bloco que se chama 'conteudo'
-->
{% block conteudo %}
<form method="post">
    <div class="form-group">
        <!--
            O atributo for faz uma referência ao id de outra tag da página
        -->
        <label for="dt_inicio">Data de Início:</label>
        <!--
            Não é obrigatório que o atributo id seja igual ao atributo name
        -->
        <input type="date" class="form-control" name="dt_inicio" id="dt_inicio">
    </div>

    <div class="form-group">
        <label for="dt_fim">Data de Encerramento:</label>
        <input type="date" class="form-control" name="dt_fim" id="dt_fim">
    </div>

    <div class="form-group">
        <label for="turno">Turno:</label>
        <!--
            Declaração da tag que cria um dropbox (lista supensa)
        -->
        <select class="form-control" name="turno" id="turno">
            <!--
                Conteúdo da lista
                O valor enviado para o Pytho será o conteúdo do atributo 'value'
            -->
            <option value="MANHÃ">Manhã</option>
            <option value="TARDE">Tarde</option>
            <option value="NOITE">Noite</option>
        </select>
    </div>

    <div class="form-group">
        <label for="professor">Professor:</label>
        <select class="form-control" name="professor" id="professor">
            {% for professor in professores %}
            <option value="{{ professor['matricula'] }}">{{ professor['nome'] }} ({{ professor['matricula'] }})</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-default">Salvar a Turma</button>
    <hr>

    <h3>Alunos</h3>

    <!--
        A proposta é que a matricula aconteça no mesmo momento do cadastro da turma.
        Neste caso utilizamos o checkbox como uma forma de selecionar os alunos, já que uma turma pode ter
          mais que um aluno
        IMPORTANTE: o atributo name deve ser igual para todos as tags para que possamos criar a lista
    -->
    {% for aluno in alunos %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="alunos" id="alunos_{{ aluno['matricula'] }}" value="{{ aluno['matricula'] }}">
            {{ aluno['nome'] }} ({{ aluno['matricula'] }})
        </label>
    </div>
    {% endfor %}

</form>
{% endblock %}